@use '../../utilities/responsive';
.about {
    display: grid;
    grid-template-columns: var(--grid-container);
    padding: 0;
    overflow: hidden;
    //640
    @include responsive.max(40rem) {
        grid-template-columns: var(--grid-container-res);
    }

    // 1024 (64rem)
        // @include responsive.max(64rem) {
        //    padding: 0;
        // }

    &__inner {
        grid-column: inner;
        display: grid;
        grid-template-columns: 1fr 1fr;
     
        // 1024 (64rem)
        @include responsive.max(64rem) {
            grid-template-columns: 1fr;
        }
        // // 640px
        // @include responsive.max(40rem) {
        //     padding: 0 var(--gap-m);
        // }

        // @include responsive.max(30rem) {
        //     padding: 0;
        // }
    }

    &__content {
        background-color:#F0FCC0;
        margin: 20px;
        border-radius: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 500px;
        //640
        @include responsive.max(40rem) {
            margin: 0;
        }
    }

    &__desc {
        margin: 0;
        padding: 0 3rem 2rem ;
    }

     &__green {
        width: 270px;
        transform: translate(-8rem, 16rem);
    }

    &__arrow-2 {
        width: 120px;
        transform: translate(12rem, 16rem);
    }

    &__images {
        height: 650px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        //1024
        @include responsive.max(64rem) {
            margin-top: 5rem;
        }
        //480
        @include responsive.max(30rem) {
            margin-top: 4rem;
            height: 550px;
        }
    }

    & img {
        position: absolute;
    }

    &__cloud-1 {
        width: 300px;
        transform: translate(-16rem, -16rem);
    }
    
    &__cloud-2 {
        width: 170px;
        transform: translate(16rem, -16rem);
    }

    &__orange {
        width: 670px;
        transform: translate(-1rem, 17rem);
        //512
        @include responsive.max(32rem) {
            transform: translate(-1rem, 16rem);
        }
        //480
        @include responsive.max(30rem) {
            transform: translate(-1rem, 14.5rem);
        }
        //432
        @include responsive.max(27rem) {
            transform: translate(-1rem, 13rem);
        }
        //390
        @include responsive.max(24rem) {
            transform: translate(-1rem, 10rem);
        }
    }

    &__bola {
        width: 460px;
    }
}