@use '../../utilities/responsive';

.gallery {
    display: grid;
    grid-template-columns: var(--grid-container);
    padding: 0;
    overflow: hidden;

    &__inner {
        grid-column: inner;
    }

    &__title {
        text-align: center;
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        gap: var(--gap-l);
        //640
        @include responsive.max(40rem) {
            gap: var(--gap-s);
        }
    }

    &__image {
        border-radius: 50px;
    }
}