@use '../../components/details';
@use "../../components/buttons" as button;
@use '../../utilities/responsive';

.hero {
    min-height: 700px;
    margin-top: 96px;
    display: grid;
    grid-template-columns: var(--grid-container);
    //640
    @include responsive.max(40rem) {
        grid-template-columns: var(--grid-container-res);
    }
    
    &__inner {
        grid-column: inner;
        background-color: #F8EF83;
        border-radius: 50px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(100px, auto);
        grid-template-areas:
        "sd  main main main"
        "sd  main main main"
        "sd  main main main"
        "sd  main main main";
    }
    
    &__bolalar {
        grid-area: main;
        justify-self: end;
        align-self: end;
        width: 700px;
        transform: translateX(2rem);
        //640
        @include responsive.max(40rem) {
            transform: translateX(1rem);
        }
        //480
        @include responsive.max(30rem) {
            transform: scale(1.5rem);
        }
    }
    &__arrow-1 {
        grid-area: main;
        justify-self: start;
        align-self: start;
        width: 100px;
        transform: translateY(2rem);
    }
    &__circle {
        grid-area: main;
        width: 200px;
        align-self: center;
        transform: translate(-7rem, 6rem);
    }
    &__content {
        grid-area: main;
        justify-self: start;
        align-self: center;
        transform: translate(1rem, -4rem);
    }
    &__rocket{
        grid-area: main;
        align-self: end;
        width: 150px;
        transform: translateY(-2rem);
    }
    &__muz {
        grid-area: main;
        width: 420px;
        justify-self: end;
        transform: translateX(-4rem);
    }
    &__dots {
        grid-area: main;
        justify-self: end;
        align-self: start;
        width: 120px;
        transform: translate(-2rem, 8rem);
    }   
    
    // Aside
    &__aside {
        max-width:200px;
        grid-area: sd;
        background-color: #E3CBF2;
        border-radius: 50px;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items:center;

        &--title {
            margin: 2rem 0 0 0;
        }
    }

    // @link https://stackoverflow.com/questions/20954521/rounded-border-text-input-css
    &__name, &__pass-1 { 
        margin-top: 1rem;
        border-radius: 20px;
        border: 1px solid #2d9fd9;
        width: 170px;
        height: 30px;
        padding-left: 10px;

        &:focus {
            outline: none;
            border: 1px solid var(--color-accent);
            color: #2d9fd9;
        }
    }

    &__pass-2 {
        font-size: 10px;
        margin-top: 6px;
    }

    &__signin {
        width: 170px;
        height: 30px;
        margin: 10px;
        border-radius: 20px;
        padding-left: 3rem;
        background-color:#2d9fd9;
        color: #fff;
        box-shadow: 3px 3px 3px 2px rgba(101, 101, 101, 0.212);
    }

    &__reg {
        font-size: 12px;
        @include details.separator($align: center);
    }
    &__regin {
        transition: all 0.3s;
        &:hover {
            opacity: 1;
            color: var(--color-accent)
        }
        
    }

    &__list {
        margin: 0;
        padding-left: 0;
    }

    &__item {
        position: relative;
    }

    &__link {
        &:after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 3px;
            bottom: -2px;
            left: 0;
            background-color: var(--color-accent);
            transform-origin: bottom left;
            transition: transform 0.25s ease-out;
        }
    }
    &:hover:after {transform: scaleX(1); transform-origin: bottom left;}
    &__5:hover:after {transform: scaleX(0.5);} 
    &__6:hover:after {transform: scaleX(0.6);} 
    &__7:hover:after {transform: scaleX(0.7);} 
    &__8:hover:after {transform: scaleX(0.8);} 
    &__1:hover:after {transform: scaleX(1);}


    &__text {
        font-family: 'Freude';
        font-size: clamp(3rem, 10vw, 6rem);
        margin: 0;
        transform: translateY(1rem);
    }

    &__title {
        font-family: 'Hobeaux';
        font-size: clamp(5rem, 15vw, 9rem);
        color: #333;
        margin: 0;
        letter-spacing: -1px;
    }

    &__desc {
        font-family: 'Freude';
        font-size: clamp(1rem, 5vw, 2rem);
        color: #777;
        margin: 0;
        transform: translateY(-1.5rem);
    }
}

//Carousel
.scroll-container {
    background-color: #fff;
    overflow: auto;
    white-space: nowrap;
    padding: 2rem;
    // 1024
    @include responsive.max(64rem) {
       padding: 1.5rem;
    }
    //816
    @include responsive.max(51rem) {
        padding: 1rem;
    }
    //640
    @include responsive.max(40rem) {
        padding: 0.5rem;
    }
    //480
    @include responsive.max(30rem) {
        padding: 0.2;
    }
}

.scroll-container img {
    border-radius: 50px;
    width: 25%;
    padding: 0.7rem;
    
    //816
    @include responsive.max(51rem) {
        padding: 0.5rem;
        border-radius: 40px;
    }
    //640
    @include responsive.max(40rem) {
        padding: 0.2rem;
        border-radius: 30px;
    }
    //480
    @include responsive.max(30rem) {
        padding: 0.1rem;
        border-radius: 20px;
    }
}