:root {
  --section-gap: 3rem;
  --section-gap-inner: calc( var(--section-gap) * 0.75);
  --gap-xl: 4rem;
  --gap-l: 3rem;
  --gap-m: 2rem;
  --gap-s: 1rem;
  --border-radius: 0px;
  --color-dark: hsl(0, 0%, 7%);
  --color-dark-200: hsl(0, 0%, 17%);
  --color-dark-300: hsl(0, 0%, 27%);
  --color-dark-500: #555;
  --color-dark-600: hsl(0, 0%, 47%);
  --color-dark-700: hsl(0, 0%, 57%);
  --color-dark-800: hsl(0, 0%, 67%);
  --color-dark-900: hsl(0, 0%, 77%);
  --color-accent: #FF8A00;
  --color-accent-200: #009fbb;
  --color-accent-300: #009fbb;
  --color-accent-400: #009fbb;
  --color-accent-500: #009fbb;
  --color-accent-600: #009fbb;
  --color-accent-700: #009fbb;
  --color-accent-800: #009fbb;
  --color-accent-900: #009fbb;
  --color-light: hsl(0, 0%, 100%);
  --color-light-200: hsl(0, 0%, 90%);
  --color-light-300: hsl(0, 0%, 80%);
  --color-light-400: hsl(0, 0%, 70%);
  --color-light-500: hsl(0, 0%, 60%);
  --color-light-600: hsl(0, 0%, 50%);
  --color-light-700: hsl(0, 0%, 40%);
  --color-light-800: hsl(0, 0%, 30%);
  --color-light-900: hsl(0, 0%, 20%);
  --font-sans: "roboto", sans-serif;
  --font-serif: "Georgia", serif;
  --line-height: 1.5;
  --font-scale: 1.25;
  --font-size: 1rem;
  --font-size-1: var(--font-size);
  --font-size-2: calc(var(--font-size-1) * var(--font-scale));
  --font-size-3: calc(var(--font-size-2) * var(--font-scale));
  --font-size-4: calc(var(--font-size-3) * var(--font-scale));
  --font-size-5: calc(var(--font-size-4) * var(--font-scale));
  --font-size-6: calc(var(--font-size-5) * var(--font-scale));
  --page-width: 72rem;
  --grid-container: [full-start] minmax(32px, 1fr) [inner-start] minmax(0, var(--page-width)) [inner-end] minmax(32px, 1fr) [full-end];
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-sans);
}

h1 {
  font-size: var(--font-size-6);
}

h2 {
  font-size: var(--font-size-5);
}

h3 {
  font-size: var(--font-size-4);
}

h4 {
  font-size: var(--font-size-3);
}

h5 {
  font-size: var(--font-size-2);
}

h6 {
  font-size: var(--font-size-1);
}

p {
  line-height: var(--line-height);
}

p {
  line-height: var(--line-height);
}

a {
  color: var(--color-dark);
  text-decoration: none;
  line-height: var(--line-height);
  font-family: "Fieldwork";
}

li {
  line-height: var(--line-height);
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  background-color: rgba(170, 170, 170, 0.3607843137);
  position: fixed;
  z-index: 999;
  height: 6rem;
  min-width: 100%;
  left: 0;
  top: 0;
  display: grid;
  grid-template-columns: var(--grid-container);
}
.header__inner {
  grid-column: inner;
  display: flex;
  justify-content: space-between;
  align-self: center;
}
.header__branding svg {
  margin-left: 3rem;
  width: 100%;
  height: 50px;
}
.header__branding :hover .pen {
  transform: rotate(30deg);
}

.pen {
  transition: transform 0.3s 0.3s;
}

.menu {
  display: flex;
  justify-content: end;
  gap: var(--gap-l);
}
.menu__link:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: -2px;
  left: 0;
  background-color: var(--color-accent);
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}
.menu__link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.menu__list {
  display: flex;
  align-items: center;
  gap: var(--gap-l);
}
.menu__link {
  font-size: var(--font-size-2);
  transition: all 0.2s;
  position: relative;
}
.menu__button {
  height: 26px;
  width: 26px;
  position: relative;
  background: none;
  padding: 0;
  border: 0;
  top: 16px;
  border-radius: 0;
}
.menu__button:focus .menu__button--hamburger, .menu__button--close .menu__button--hamburger {
  transition: transform 0.2s 0.2s;
  transform: rotate(45deg) translate(-50%, -50%);
  background-color: var(--color-accent);
}
.menu__button:focus .menu__button--hamburger:before, .menu__button--close .menu__button--hamburger:before {
  transition: top 0.2s, transform 0.2s 0.2s;
  transform: rotate(95deg) translate(0, 0);
  top: 0;
}
.menu__button:focus .menu__button--hamburger:after, .menu__button--close .menu__button--hamburger:after {
  transition: width 0.2s;
  width: 0;
}
.menu__button--hamburger {
  transform-origin: left top;
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 50%;
  transition: transform 0.2s;
  transform: translate(-50%, -50%) rotate(0);
  background-color: #555;
}
.menu__button--hamburger:before, .menu__button--hamburger:after {
  content: "";
  display: block;
  position: absolute;
  top: -8px;
  height: 2px;
  width: 100%;
  background-color: inherit;
}
.menu__button--hamburger:before {
  transition: top 0.2s 0.2s, transform 0.2s;
}
.menu__button--hamburger:after {
  top: 8px;
  width: 70%;
  transition: width 0.2s 0.2s;
}

.hero {
  min-height: 700px;
  margin-top: 96px;
  display: grid;
  grid-template-columns: var(--grid-container);
}
.hero__inner {
  grid-column: inner;
  background-color: #F8EF83;
  border-radius: 50px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-auto-rows: minmax(50px, auto);
  grid-template-areas: "sd sd main main  main  muz muz muz muz" "sd sd main main  main  bl1 bl1 dts dts" "sd sd main main  main  bl1 bl1 bl2 bl2" "sd sd rock rock  rock  bl1 bl1 bl2 bl2";
}
.hero__arrow-1 {
  grid-area: main;
  width: 220px;
  justify-self: center;
  align-self: start;
  width: 150px;
}
.hero__circle {
  grid-area: main;
  width: 220px;
  align-self: end;
}
.hero__content {
  grid-area: main;
  justify-self: end;
  align-self: end;
}
.hero__rocket {
  grid-area: rock;
  align-self: end;
  width: 220px;
}
.hero__muz {
  grid-area: muz;
  width: 420px;
}
.hero__dots {
  grid-area: dts;
  justify-self: center;
  width: 120px;
}
.hero__bola-1 {
  grid-area: bl1;
  align-self: end;
  transform: translateX(24px);
}
.hero__bola-2 {
  grid-area: bl2;
  align-self: end;
}
.hero__aside {
  grid-area: sd;
  background-color: #E3CBF2;
  border-radius: 50px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__aside--title {
  margin: 2rem 0 0 0;
}
.hero__name, .hero__pass-1 {
  margin-top: 1rem;
  border-radius: 20px;
  border: 1px solid #2d9fd9;
  width: 170px;
  height: 30px;
  padding-left: 10px;
}
.hero__name:focus, .hero__pass-1:focus {
  outline: none;
  border: 1px solid var(--color-accent);
  color: #2d9fd9;
}
.hero__pass-2 {
  font-size: 10px;
  margin-top: 6px;
}
.hero__signin {
  width: 170px;
  height: 30px;
  border-radius: 20px;
  padding-left: 3rem;
  background-color: #2d9fd9;
  color: #fff;
  box-shadow: 3px 3px 3px 2px rgba(101, 101, 101, 0.212);
}
.hero__reg {
  font-size: 12px;
}
.hero__reg:after {
  content: "";
  display: block;
  height: 2px;
  width: 64px;
  background-color: var(--color-dark-500);
  margin-top: var(--gap-s);
  margin-bottom: var(--gap-s);
  margin: var(--gap-s) auto;
}
.hero__list {
  margin: 0;
  padding-left: 0;
}
.hero__item {
  position: relative;
}
.hero__link:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: -2px;
  left: 0;
  background-color: var(--color-accent);
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}
.hero:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.hero__5:hover:after {
  transform: scaleX(0.5);
}
.hero__6:hover:after {
  transform: scaleX(0.6);
}
.hero__7:hover:after {
  transform: scaleX(0.7);
}
.hero__8:hover:after {
  transform: scaleX(0.8);
}
.hero__1:hover:after {
  transform: scaleX(1);
}
.hero__text {
  font-family: "Freude";
  font-size: 6rem;
  margin: 0;
  transform: translateY(2rem);
}
.hero__title {
  font-family: "Hobeaux";
  font-size: 9rem;
  color: #333;
  margin: 0;
  letter-spacing: -1px;
}
.hero__desc {
  font-family: "Freude";
  font-size: 2rem;
  color: #777;
  margin: 0;
}

.scroll-container {
  background-color: #fff;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

.scroll-container img {
  border-radius: 50px;
  padding: 10px;
}

.about {
  display: grid;
  grid-template-columns: var(--grid-container);
  padding: var(--section-gap) 0;
  overflow: hidden;
}
.about__inner {
  grid-column: inner;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-auto-rows: minmax(50px, auto);
  grid-template-areas: "main main main main  main  bol bol bol bol" "main main main main  main  bol bol bol bol" "main main main main  main  bol bol bol bol" "main main main main  main  bol bol bol bol";
}
.about__main {
  grid-area: main;
  max-width: 100%;
  align-self: center;
}
.about__green {
  grid-area: main;
  width: 270px;
  align-self: end;
  transform: translateY(7rem);
}
.about__arrow-2 {
  grid-area: main;
  width: 120px;
  justify-self: right;
  align-self: end;
}
.about__bola {
  grid-area: bol;
  width: 450px;
  justify-self: right;
  align-self: end;
}
.about__rec {
  grid-area: bol;
  width: 500px;
  justify-self: right;
  align-self: end;
}
.about__orange {
  grid-area: bol;
  align-self: end;
  transform: translateY(5rem);
}
.about__cloud-1 {
  grid-area: bol;
  width: 270px;
  transform: translateX(-6rem);
}
.about__cloud-2 {
  grid-area: bol;
  justify-self: right;
  width: 130px;
}
.about__content {
  background-color: #F0FCC0;
  margin: 20px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about__desc {
  margin: 0;
  padding: 0 3rem 2rem;
}

/*# sourceMappingURL=style.css.map */
