.footer {
    background: #1579ED;
    min-height: 9rem;
    display: grid;
    grid-template-columns: var(--grid-container);
    overflow: hidden;

    &__inner {
        grid-column: inner;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items:center
    }

    &__branding {
        
        & svg{
            margin: 2rem 0 0 0;
            width: 200px;
        }
        :hover .pen{transform: rotate(30deg);}
    }

    &__desc {
        text-align: center;
        font-family: 'roboto';
        font-size: 16px;
        color: #555;
        margin-top: 1rem;
    }
}

.scroll-up {
    position: fixed;
    right: 64px;
    bottom: 64px;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    border: 0;
    background: #fffcf2;
    transition: background-color 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-up:hover {
    background-color: #ffbc40
}