.footer {
    background: #1579ED;
    min-height: 12rem;
    display: grid;
    grid-template-columns: var(--grid-container);
    padding: 3rem 0 0;
    overflow: hidden;

    &__inner {
        grid-column: inner;
    }

    &__branding {
        
        & svg{
            margin-top: 10px;
            width: 100%;
            height: 50px;
        }
        :hover .pen{transform: rotate(30deg);}
    }

    &__desc {
        text-align: center;
        font-family: 'roboto';
        font-size: 16px;
        color: #555;
        margin-top: 60px;
    }
}