.header {
    background-color:#aaaaaa5c;
    position: fixed;
    z-index: 99;
    height: 6rem;
    min-width: 100%;
    left: 0;
    top: 0;
    display: grid;
    grid-template-columns: var(--grid-container);

    &__inner {
        grid-column: inner;
        display: flex;
        justify-content: space-between;
        align-self: center;
    }
    
    &__nav {
        display: flex;
        justify-content: end;
        gap: 2rem;
    }
}

.branding {

    & svg{
        margin-left: 2rem;
        width: 150px;
        height: 50px;
    }
    :hover .pen{transform: rotate(30deg);}
}
.st333{fill:#333;}
.st199{fill:#F4991A;}
.st237{fill:#FFEC37;}
.st397{fill:#9C4C97;}

.pen {
    transition: transform 0.3s 0.3s;
}
