 @use '../utilities/responsive';
 @use '../components/details';

.menu {
    display: flex;
    justify-content: end;
    gap: var(--gap-l);

    @include responsive.max( 1024px ) {
        display: none;
    }

    &__link {
        
     &:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 3px;
        bottom: -2px;
        left: 0;
        background-color: var(--color-accent);
        transform-origin: bottom left;
        transition: transform 0.25s ease-out;
    }

    &:hover:after {transform: scaleX(1); transform-origin: bottom left;}
    }

    &__list{
        display: flex;
        align-items:center;
        gap: var(--gap-l);
        margin: 0;
    }

    &__link {
        font-size: var(--font-size-2);
        transition: all 0.2s;
        position: relative;
    }

   &__button {
        height: 26px;
        width: 26px;
        position: relative;
        background: none;
        padding: 0;
        border: 0;
        top: 18px;
        border-radius: 0;
        display: none;

        @include responsive.max( 1024px ) {
        display: block;
    }

        &--close {

            .menu__button--hamburger {
                transition: transform 0.2s 0.2s;
                transform: rotate(45deg) translate(-50%, -50%);
                background-color: var(--color-accent);
                
                &:before {
                    transition: top 0.2s, transform 0.2s 0.2s;
                    transform: rotate(95deg) translate(0, 0);
                    top: 0;
                }

                &:after {
                    transition: width 0.2s;
                    width: 0;
                }
            }
        }
        
        &--hamburger {
            transform-origin: left top;
            position: absolute;
            height: 2px;
            width: 100%;
            top: 50%;
            left: 50%;
            transition: transform 0.2s;
            transform: translate(-50%, -50%) rotate(0);
            background-color: #555;
    
            &:before, &:after {
                content: '';
                display: block;
                position: absolute;
                top: -8px;
                height: 2px;
                width: 100%;
                background-color: inherit;
            }
    
            &:before {
                transition: top 0.2s 0.2s, transform 0.2s;
            }
    
            &:after {
                top: 8px;
                width: 70%;
                transition: width 0.2s 0.2s;
            }
        }
    }
}

// Toggle menu
.right-menu, .left-menu {
    right: 0;
    display: grid;
    background-color: #E3CBF2;
    position: fixed;
    width: 300px;
    height: 600px;
    border-radius: 50px 0 0 50px;
    z-index: 999;
    grid-template-columns: var(--grid-container);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;


    &--visible {
        opacity: 1;
        visibility: visible;

        .right-menu__inner, .left-menu__inner {
            opacity: 1;
            transform: translateX(0);
            transition: transform 0.5s, opacity 0.5s;
        }
    }

    &__inner {
        grid-column: inner;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: start;
        flex-direction: column;
        position: relative;
        z-index: 2;
        transform: translateX(100px);
        opacity: 0;
    }

    &__list {
        margin: 3rem 0 0 0;
        padding: 0;
        list-style: none;
    }

    &__link {
        color: #333;
        opacity: 0.8;
        font-family: var(--font-sans);
        font-size: var(--font-size-3);
        transition: all 0.3s;

        &:hover {
            opacity: 1;
            color: var(--color-accent)
        }
    }
}
// Left Menu
.left-menu {
    left: 0;
    width: 300px;
    height: 600px;
    border-radius: 0 50px 50px 0;

    &__inner {
        transform: translateX(-100px);
    }

    &__close {
        color: #555;
        font-size: 45px;
        font-weight: 400;
        align-self: flex-start;
    }
}