 @use '../utilities/responsive';

.menu {
    display: flex;
    justify-content: end;
    gap: var(--gap-l);

    @include responsive.max( 1024px ) {
        display: none;
    }

    &__link {
        
     &:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 3px;
        bottom: -2px;
        left: 0;
        background-color: var(--color-accent);
        transform-origin: bottom left;
        transition: transform 0.25s ease-out;
    }

    &:hover:after {transform: scaleX(1); transform-origin: bottom left;}
    }

    &__list{
        display: flex;
        align-items:center;
        gap: var(--gap-l);
    }

    &__link {
        font-size: var(--font-size-2);
        transition: all 0.2s;
        position: relative;
    }

   &__button {
        height: 26px;
        width: 26px;
        position: relative;
        background: none;
        padding: 0;
        border: 0;
        top: 18px;
        border-radius: 0;

        &:focus, &--close {

            .menu__button--hamburger {
                transition: transform 0.2s 0.2s;
                transform: rotate(45deg) translate(-50%, -50%);
                background-color: var(--color-accent);
                
                &:before {
                    transition: top 0.2s, transform 0.2s 0.2s;
                    transform: rotate(95deg) translate(0, 0);
                    top: 0;
                }

                &:after {
                    transition: width 0.2s;
                    width: 0;
                }
            }
        }
        
        &--hamburger {
            transform-origin: left top;
            position: absolute;
            height: 2px;
            width: 100%;
            top: 50%;
            left: 50%;
            transition: transform 0.2s;
            transform: translate(-50%, -50%) rotate(0);
            background-color: #555;
    
            &:before, &:after {
                content: '';
                display: block;
                position: absolute;
                top: -8px;
                height: 2px;
                width: 100%;
                background-color: inherit;
            }
    
            &:before {
                transition: top 0.2s 0.2s, transform 0.2s;
            }
    
            &:after {
                top: 8px;
                width: 70%;
                transition: width 0.2s 0.2s;
            }
        }
    }
}